body {
    position: relative; 
}

footer{
    text-align: center;
}

#about-section {
    padding-top:50px;
}
#project-section {
    padding-top:50px;
}

h1.outset {
    font-family: 'Courier New', monospace;
    border-style: outset;
    border-width: 2rem;
    border-radius: 6rem;
    padding: 2rem;
}